* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #083645;
    --secondary-color: #C0C0C0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER / NAV STYLES START */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    font-style: oblique;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}

header nav {
    margin: 15px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* HEADER / NAV STYLES END */

/* FOOTER STYLES START */
footer {
    background-color: var(--primary-color);
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    font-style: oblique;
    margin: auto 0 auto 5px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer div {
    margin: 10px 5px;
    color: var(--secondary-color);
}

footer div ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

footer div ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}
/* FOOTER STYLE ENDS */

/* HERO STYLES */
.hero {
    height: 500px;
    width: 100%;
    margin: 0px;
    background-image: url("../images/IMG_0783.JPG");
    background-size: cover;
    background-position: center;
}

.hero-text {
    color: var(--primary-color);
    font-size: 80px;
    padding: 80px 10px;
}
/* HERO STYLES */


/* ABOUT ME STYLES */
.section-title {
    padding-bottom: 15px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    font-size: 50px;
    color: var(--primary-color);
    border-bottom: 3px solid;
}

.about-me {
    background-color: var(--secondary-color);
    border-bottom: var(--primary-color) solid;
    padding: 0 20% 15px 20%;
}

.about-me h2 {
    font-size: 50px;  
    text-align: center;
    flex-wrap: wrap;
    padding: 5px;
}

.bio {
    display: flex;
    justify-content: space-between;
}
.bio img {
    margin: auto;
    height: 500px;
    width: 400px;
    border: solid var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.bio p {
    color: var(--primary-color);
    font-size: 24px;
    margin: 10px;
    padding: 20px;
    text-align: left;
}

/* MY WORK STYLES */
.my-work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
}

.my-work h2 {
    height: 100%;
    margin: 20px 20px 50% 20px;
    font-size: 50px;
    color: var(--primary-color);
    padding: 5px 5px 25px;
    border-right: solid;

}

.my-apps {
    margin: auto;
}

.my-apps h3 {
    font-size: 25px;
    color: var(--primary-color);
    text-align: center;
}

.run-buddy {
    width: 70%;
    border: 5px solid;
    border-color: var(--primary-color);
}

.horiseon {
    width: 55%;
    border: 5px solid var(--primary-color);
}